@use 'sass:color' as *;
@use './mixins' as *;
@use './functions' as *;

%container {
	--container: 1680px;
	padding: 0 max(2rem, 50vw - var(--container) / 2);

	&-bleed-left {
		padding-right: max(2rem, 50vw - var(--container) / 2);
	}

	&-bleed-right {
		padding-left: max(2rem, 50vw - var(--container) / 2);
	}
}

%sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

%btn {
	@include size(3.5rem);
	border-radius: 3.5rem;
	background-color: adjust-color(c('off-black'), $lightness: 8%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	user-select: none;
	cursor: pointer;
	transition: color 0.2s ease, background-color 0.2s ease;
	font-variant-numeric: tabular-nums;
}
